<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="bgimg_update">
  <form class="container_update">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <label for="passwd_old"><b>Old Password</b></label>
    <input type="password" placeholder="Enter the old Password" name="passwd_old" required>
        <label for="passwd_new"><b>New Password</b></label>
    <input type="password" placeholder="Enter a new Password" name="passwd_new" required>
        <label for="passwd_confirm"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm your Password" name="passwd_confirm" required>   
    <button type="submit">Update</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="login.html">back</a>
  </form>
</div>
</body>
</html>
